<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="post">
                <input class="form-control" type="text" placeholder="Titulo do artigo" name="title" >
                <br>
                <textarea id="article" class="form-control" name="body" placeholder="digite seu artigo aqui"></textarea>
                <br>
                <select class="form-select" name="category">
                    <% category.forEach((categoria) => { %>
                        <option value="<%= categoria.id %>"><%= categoria.title %></option>
                    <% }) %>    
                </select>
                <br>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
        tinymce.init({
        
        language: 'pt_BR',
        selector: "#article",
       
        plugins: 'advlist autolink link image lists print preview hr searchplace wordcount fullscreen' 
    });

</script>