<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Cadastrar Nova Categoria</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <% categories.forEach(category => { %>
            <tr>
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th>
                    
                    <a href="/admin/categories/edit/<%= category.id%>"><button class="btn btn-warning">Editar</button></a>
                    
                    <form action="/categories/delete" onsubmit="verificarDelete(event, this)"
                    method="post" style="display: inline;">
                        <input type="hidden" name="id" value="<%= category.id%>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>
<script>
    function verificarDelete(event, form) {
        event.preventDefault();
        var decision = confirm("Deseja Cancelar categoria?");
        if (decision) {
            form.submit();
        }
    }
</script>